﻿@{
    ViewBag.Title = "Home Page";
       <script src="~/Scripts/Example1.js"></script>
 }

 <div id="price1">
     <p>First Name:  <span data-bind="text:firstName"></span></p>
     <p>Last Name:  <span data-bind="text:lastName"></span></p>
     <h2>Hello,<input data-bind="value:fullName" /></h2>

 </div> 
 <p> Enter bid price : <input id="price" data-bind="value:formattedPrice" /></p>
<script type="text/javascript">
   
   
   $(document).ready(function () {
       ko.applyBindings(new AppViewModel(),document.getElementById('price1'));
       ko.applyBindings(new AppViewModel1(), document.getElementById('price'));
   });

</script>
